@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
:root{
    --angle:0deg;
}

*{
    font-family: "Single Day" ,"School Bell" ,Cursive;
}

.home-container{
    background: url('../assets/homebackground.jpg')  ;
    backdrop-filter:invert(100%);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.indicator{
    position: fixed;
    left: 5px;
    top:50%;
    translate:-15px -50%;
    display: flex;
    align-items: center;
}
.indicator .indicator1{
    position: fixed;
    display: flex;
    color: #3335;
    animation:LR 1s infinite alternate ease-in;
}
.indicator .indicator2{
    position: fixed;
    margin: 10px;
    display: flex;
    color: #2225;
    animation:LR 1.3s infinite alternate ease-in;
    animation-delay: 0.1s;
}
@keyframes LR{
    0%{
        left: 10px;
    }
    100%{
        left:20px;
        color: transparent;
    }
}


.grad{
    position: absolute;
    background:linear-gradient(20deg,#0003 5%,#fff9 30%,#3332 96%);
    height: 100vh;
    background-size: 100%;
    width: 100vw;
    backdrop-filter:blur(2px);
    z-index: -1;
}

.home-container .home-text{
    display:flex;
    color: #433;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding:20px;
    border-radius: 20px;
}

.home-container .home-text .heading{
    font-size: 40px;
    margin-bottom: 20px;
}
.home-container .home-text .welcome{
    margin-bottom: 10px;
    font-size: 25px;
}

@media (max-width:786px) and (max-height:1080px) {
    .home-container .home-text{
        width: 80%;
        height: fit-content;
    }
    .home-container .home-text .heading{
        font-size: 60px;
    }
    .home-container .home-text .intro{
        font-size: 18px;
        width: fit-content;
    }
}
