@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
body{
    background: white;
}
.app{
    position: relative;
}
.nav-bar{
  position: absolute;
  background-color: #000;
  left: 5px;
  top:50%;
  translate:-100% -50%;
  display: flex;
  content:none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10px;
  height: 50px;
  padding: 0.2vw;
  border: none; 
  border-radius: 20vh;
  box-shadow: #444 0 0 5px;
  z-index: 4;
}
.nav-bar button{
    margin: 0;
    display: none;
    border: none;
    width:0;
    height:0;
    background-color: transparent;
    color: #fff;
    border-radius: 20vh;
}
.dynamic-navbar{
    background: #0000;
    border-radius: 20vh;
    height:50px;
    width:5px;
    padding: 20px;
    position: fixed;
    top:50%;
    translate:0% -50%;
    z-index: 10;
}
.dynamic-navbar:hover .nav-bar{
    animation:open 0.2s forwards ease-out;
}
.dynamic-navbar:focus .nav-bar{
    animation:open 0.2s forwards ease-out;
}
.nav-bar:hover{
    animation:open 0.3s forwards ease-out;
}
.nav-bar:focus{
    animation:open 0.3s forwards ease-out;
}
@keyframes open{
    0%{
        width:10px;
        height: 40px; 
    }
    25%{
        width:20px;
        translate:5px -50%;
        height: 60px;
    }
    50%{
        width:30px;
        height: 80px;
    }
    75%{
        width:35px;
        height: 100px;
    }
    100%{
        translate:5px -50%;
        width:40px;
        height:134px;
        content: none;
    }
}
.dynamic-navbar:focus,.dynamic-navbar:hover button{
    display:flex;
    animation:focus-color 0.5s forwards ease-in-out;
}
@keyframes focus-color{
    0%{
        width: 0px;
        height:0px;
        color:transparent;
    }
    100%{
        width:fit-content;
        height:fit-content;
    }
}

.dynamic-navbar .nav-bar button:hover,button:focus {
  color: #000;
  background-color: white;
}

@media (max-width:786px) and (max-height:1080px) {
.nav-bar{
    height: 60px;
    width: 15px;
    padding: 0.5vh;
    justify-content: center;
}
}
.nav-bar button{
    padding: 1vh;
}

