@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
body{
}
.app{
    position: relative;
    height:100dvh;
    width:100dvw;
}

.nav-bar{
  position: absolute;
  background: #777;
  backdrop-filter:blur(9px);
  left: 5px;
  top:50%;
  translate:-100% -50%;
  display: flex;
  content:none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10px;
  height: 50px;
  padding: 5px;
  border: none; 
  border-radius: 20vh;
  box-shadow: #6665 0 0 10px ,#999 0 0 2px;
  z-index: 4;
}

.nav-bar button{
    margin: 0;
    display: none;
    border: none;
    width:0;
    height:0;
    backdrop-filter:blur(0px);
    background-color: transparent;
    color: #999;
    mixblend-mode:difference;
    border-radius: 20vh;
}
.dynamic-navbar{
    background: #0000;
    border-radius: 20vh;
    height:50px;
    width:5px;
    padding: 20px;
    position: fixed;
    top:50%;
    translate:0% -50%;
    z-index: 10;
}
.dynamic-navbar:hover .nav-bar{
    animation:open 0.6s forwards ease-out;
}
.dynamic-navbar:not(:hover) .nav-bar{
    animation:close 0.6s forwards ease-in;
}

.dynamic-navbar:focus .nav-bar{
    animation:open 0.2s forwards ease-out;
}

.nav-bar:hover{
    animation:open 0.3s forwards ease-out;
}
.nav-bar:focus{
    animation:open 0.3s forwards ease-out;
}
@keyframes open{
    0%{
        width:10px;
        height: 40px; 
    }
    25%{
        width:20px;
        translate:5px -50%;
        height: 60px;
    }
    50%{
        width:30px;
        height: 80px;
    }
    75%{
        width:35px;
        height: 100px;
    }
    100%{
        translate:5px -50%;
        width:40px;
        height:134px;
        content: none;
        background: linear-gradient(226deg,#5553,#eee3);
    }
}

@keyframes close{
    from{
        background: linear-gradient(226deg,#aaa3,#fff3);
        translate:5px -50%;
        width:40px;
        height:134px;
        content: none;
    }
    to{
        background: #444;
        width:10px;
        height: 40px;
    }
}
.dynamic-navbar:focus,.dynamic-navbar:hover button{
    display:flex;
    animation:focus-color 0.9s forwards ease-in-out;
}
@keyframes focus-color{
    0%{
        width: 0px;
        height:0px;
    }
    100%{
        width:fit-content;
        height:fit-content;
    }
}

.dynamic-navbar .nav-bar button:hover,button:focus {
    color: #4a3;
    height: fit-content;
    width:fit-content;
    background: #4e32;
}

@media (max-width:786px) and (max-height:1080px) {
.nav-bar{
    height: 50px;
    width: 15px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
}
.nav-bar button{
    padding: 1vh;
}

